.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.heroText {
  font-size: default;
}

.gambar {
  width: 300px;
  height: auto;
}

.container2 {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  height: 100vh;
