{% extends 'template.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />

<title>Work In Progress..</title>

<div class="container">
<img src="{% static 'assets/gibson.png' %}">
    <div>
        This page is still under construction.
    </div>
</div>

{% endblock %}