{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a href="{%url 'main:index' %}" class="navbar-brand">Home</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="{%url 'main:story3' %}" class="nav-link"> Old Site </a>
				</li>
				<li class="nav-item">
					<a href="{%url 'main:wip' %}" class="nav-link"> WIP </a>
				</li>
			</ul>
		</div>
	</nav>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</html>